* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 385px;
}

.h2{
    font-size: 90px;
    font-family: 'Suez One', serif;
}

header{
    width: 424px;
    height: 54px;
    flex-shrink: 0; 
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-start;
}

header img {
    width: 48px;
    height: 48px;
    flex-shrink: 0; 
    margin: 5px;
}

header img:last-child {
    width: 38.693px;
    height: 39.977px;
    flex-shrink: 0; 
    margin-right: 0;
    margin-left: 50px;
}

header p{
    width: 20px;
    height: 24px;
    flex-shrink: 0; 

    margin: 15px;
    position: relative;
    left: 50px;

    color: #000;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

header h2{ 
    width: 156px;
    height: 24px;
    flex-shrink: 0;

    margin: 15px;
    position: relative;
    left: 55px;

    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}


main{
    background-color: #A1ABFF;
    color: #000000;
}

.img__horizontale {

    margin: 30px;
    width: 324px;
    height: 162px;
    flex-shrink: 0; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
}






















footer {
    background-color: #5C64AF;
}

.footer__nom {
    margin-top: 100px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #ffffff;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 900%;
}

.footer__groupe {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #ffffff;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__contact {
    margin-top: -70px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #ffffff;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__autres {
    margin-top: -70px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #FFF;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__apropos {
    margin-top: -70px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #FFF;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__mail {
    margin-top: -70px;
    margin-right: 5px;
    margin-left: 10px;
    width: 190px;
    height: 120px;
    flex-shrink: 0; 

    color: #FFF;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__dpt {
    margin-top: -70px;
    margin-right: 5px;
    margin-left: 10px;
    width: 320px;
    height: 140px;
    flex-shrink: 0; 

    color: #FFF;
    font-family: Sulphur Point;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.footer__text {
    color: #FFF;
    font-family: Sulphur Point;
    font-size: 400px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}

.icon__footer {
    display: flex;
    position: relative;
    top: -20px;
    width: 48px;
    height: 48px;
    flex-shrink: 0; 
    margin: 15px;
    margin-left: 60px;

}

.main__icontiktok {
    width: 80px; 
    height: 80px; 
    margin-top: -16px;

}